

.show-menu {
  display: block;
}

#toogleBtn:focus {
  outline: 0;
  box-shadow: none !important;
}

.menu-text{
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 16px !important;
  text-transform: capitalize;
  color: #000000;
}

.badge-cart{
  padding : 0.6em .9em !important;
  border-radius: 0.5rem !important;
  background-color: #E64C09;
;
}

@media only screen and (max-width: 996px) {
  .show-menu {
    display: none !important;
  }
}


