

<div class="py-2 px-3 bg-white shadow">

  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <app-sidebar></app-sidebar>
      <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.svg"/></a>
    </div>

    <div class="d-flex justify-content-center show-menu">

      <a class="nav-item nav-link menu-text" href="#">Shop <span class="fa fa-angle-down"></span></a>
      <a class="nav-item nav-link menu-text" href="#">Features</a>
      <a class="nav-item nav-link menu-text" href="#">Pricing</a>
      <a class="nav-item nav-link menu-text" href="#">Disabled</a>

    </div>

    <div class="d-flex justify-content-center align-items-center">

      <a class="nav-item nav-link menu-text px-2" href="#">search</a>
      <a class="nav-item nav-link menu-text pr-2 pl-0" href="#"><img height="30" src="../../../assets/img/search.svg" alt="cart"/></a>
      <a class="nav-item nav-link menu-text px-0" href="#"><img height="30" src="../../../assets/img/person.svg" alt="cart"/></a>
      <a class="nav-item nav-link menu-text px-2" href="#">
        <img height="30" src="../../../assets/img/cart.svg" alt="cart"/>
        <sup style="left: -0.5rem;top: -1em;"><span class="badge badge-success badge-cart">1</span></sup>
      </a>

    </div>

  </div>



</div>
