

<nav id="sidebar" [ngClass]="openNav?'sidebar-active':''">

  <div id="dismiss" (click)="openNav=false">
    <i class="fa fa-arrow-left"></i>
  </div>

  <div class="sidebar-header">
    <h3>Welcome</h3>
  </div>

  <ul class="list-unstyled components ml-2">
    <p>Menu</p>
    <li class="active">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Shop</a>

    </li>
    <li>
      <a href="#">Features</a>
    </li>
    <li>
      <a href="#">Pricing</a>
    </li>
    <li>
      <a href="#">Disabled</a>
    </li>
  </ul>
</nav>

<button class="show-large btn" id="toogleBtn" (click)="openNav=true">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
</button>
